<ion-header>
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Cancel</button>
        </ion-buttons>

        <ion-title>
            Filter Sessions
        </ion-title>

        <ion-buttons end>
            <button ion-button (click)="applyFilters()" strong>Done</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

    <ion-list>
        <ion-list-header>Tracks</ion-list-header>

        <ion-item *ngFor="let track of tracks" [attr.track]="track.name | lowercase">
            <span item-start class="dot"></span>
            <ion-label>{{track.name}}</ion-label>
            <ion-toggle [(ngModel)]="track.isChecked" color="secondary"></ion-toggle>
        </ion-item>

    </ion-list>

    <ion-list>
        <button ion-item (click)="resetFilters()" detail-none class="reset-filters">
            Reset All Filters
        </button>
    </ion-list>

</ion-content>