<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="logo">
		<img src="assets/img/common/stanpluslogo.png" alt="StanPlus Logo">
	</div>

	<form #loginForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Username</ion-label>
				<ion-input [(ngModel)]="login.username" name="username" [pattern]=userPattern type="text" clearInput=true #username="ngModel" spellcheck="false" autocapitalize="on"
					required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="(username.valid && username.touched) || !username.touched" color="danger" padding-left>
				{{username.errors ? (username.errors.required ? 'Username is Mandatory' : 'Please enter a valid username') : ''}}
			</p>

			<ion-item>
				<ion-label stacked color="primary">Password</ion-label>
				<ion-input [(ngModel)]="login.password" name="password" clearInput=true type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="(password.valid && password.touched) || !password.touched" color="danger" padding-left>
				Password is Mandatory
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>
			</ion-col>
			<ion-col>
				<button ion-button (click)="onSignup()" color="light" block>Signup</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>
