$categories: (
    ionic: color($colors, primary),
    angular: #AC282B,
    communication: #8E8D93,
    tooling: #FE4C52,
    services: #FD8B2D,
    design: #FED035,
    workshop: #69BB7B,
    food: #3BC7C4,
    documentation: #B16BE3,
    navigation: #6600CC,
);

@function auxiliary-categories() {
    @return map-remove($categories);
}

page-schedule {
    @each $track, $value in auxiliary-categories() {
        ion-item-sliding[track=#{$track}] ion-label {
            border-left: 2px solid $value;
            padding-left: 10px;
        }
    }
}

.selectSearchType .select-text {
    display: none;
}
ion-searchbar {
    padding: 0 !important;
    padding-top: 3px !important;
    box-shadow: 6px 6px 5px #121729;
}
.selectSearchType {
    height: 85% !important;
    margin-top: 3px;
    box-shadow: 6px 6px 5px #121729;
}

ion-grid.colData .name {
    color: #9b493a;
}

ion-grid.colData .bal,
ion-grid.colData .date {
    text-align: right;
}