<ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-segment [(ngModel)]="segment" (ionChange)="switchSegment()">
            <ion-segment-button value="all">
                All
            </ion-segment-button>
            <ion-segment-button value="recents">
                Recents
            </ion-segment-button>
            <ion-segment-button value="favorites">
                Favorites
            </ion-segment-button>
        </ion-segment>

        <ion-buttons end>
            <button ion-button icon-only (click)="presentFilter()">
                <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-toolbar no-border-top>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <form (ngSubmit)="updateAmounts(SEARCH)">
                        <ion-searchbar color="primary" name="queryText" [(ngModel)]="queryText" placeholder="Search {{searchType === 'bid' ? 'BID' : 'Agent/Owner'}}" (ionClear)="queryText = '';updateAmounts
                        (0)">
                        </ion-searchbar>
                    </form>
                </ion-col>
                <ion-col col-4>
                    <ion-item class="selectSearchType">
                        <ion-label>
                            {{searchType === 'bid' ? 'BID' : 'Agent/Owner'}}
                        </ion-label>
                        <ion-select id='searchType' name='searchType' [(ngModel)]="searchType" interface='action-sheet'>
                            <ion-option value='bid'>
                                Search BID
                            </ion-option>
                            <ion-option value='agt'>
                                Search Agent/Owner
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list [hidden]="fetchedCount === 0">
        <ion-item-group *ngFor="let colItem of colData[segment].balances">

            <!-- <ion-item-divider sticky>
                <ion-label>
                    {{group.sessions[0].name}}
                </ion-label>
            </ion-item-divider> -->

            <ion-item-sliding #slidingItem>

                <button ion-item (click)="showCollectionList(colItem)">
                    <ion-grid class="colData">
                        <ion-row>
                            <ion-col class='name'>{{colData[segment].info[colItem.id].name}}</ion-col>
                        </ion-row>
                        <ion-row align-self-end>
                            <ion-col class='id'>{{colItem.id}}</ion-col>
                            <ion-col class='bal'>{{colItem.bal | currency : "INR"}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class='mob'>{{colData[segment].info[colItem.id].mob}} </ion-col>
                            <ion-col class='date'>{{colItem.date | date}}</ion-col>
                        </ion-row>
                    </ion-grid>
                </button>

                <ion-item-options>
                    <button ion-button color="primary" (click)="call(colData[segment].info[colItem.id].mob)">
                        Call
                    </button>
                    <button ion-button color="favorite" (click)="addFavorite(slidingItem, colItem.id, colData[segment].info[colItem.id].name)" *ngIf="segment !== 'favorites'">
                        Favorite
                    </button>
                    <button ion-button color="danger" (click)="removeFavorite(slidingItem, colItem.id, colData[segment].info[colItem.id].name)" *ngIf="segment === 'favorites'">
                        Remove
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>

    <ion-list-header [hidden]="fetchedCount[segment] > 0">
        {{hasLoggedIn ? 'No Data Found. Please try refreshing or try changing filters.' : 'User Not Logged In. Try again after loggin in'}}
    </ion-list-header>

    <ion-infinite-scroll (ionInfinite)="updateAmounts(PAGE, curPage + 1, $event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!--ion-fab bottom right #fab [hidden]="true">
        <button ion-fab>
            <ion-icon name="share"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)">
                <ion-icon name="logo-vimeo"></ion-icon>
            </button>
            <button ion-fab color="google" (click)="openSocial('Google+', fab)">
                <ion-icon name="logo-googleplus"></ion-icon>
            </button>
            <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)">
                <ion-icon name="logo-twitter"></ion-icon>
            </button>
            <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)">
                <ion-icon name="logo-facebook"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab-->
</ion-content>