<ion-tabs [selectedIndex]="mySelectedIndex" name="conference">
    <ion-tab [root]="tab1Root" tabTitle="Shift Handover" tabIcon="swap" tabUrlPath="shift-handover"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Collections" tabIcon="cash" tabUrlPath="col-view"></ion-tab>
    <!--<ion-tab [root]="tab3Root" tabTitle="Map" tabIcon="map"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab> -->
</ion-tabs>