.colDetails {
    * {
        font-family: serif;
    }
    background: color($colors, light);
    button.colDetailsItem.selectedCol {
        background:#e4d7fe;
        border: 1px #d2c0f5 solid;
        box-shadow: 8px 8px 8px grey;

        ion-row.collectAmtRow {
            border-top: 1px rgb(190, 190, 190) solid;
        }
    }

    // .scroll-content {
    //     margin-top: 112px !important;
    // }

    .virtual-scroll {
        contain: initial;
    }
    button.colDetailsItem {
        border: 1px #d9d9d9 solid;
        border-radius: 1.5px;
        margin: 10px;
        margin-bottom: 15px;
        box-shadow: 2px 2px 4px grey;
        font-size: 14px;
        ion-row {
            margin-bottom: 5px;
        }

        .item-inner {
            border: none;
        }
    }

    .disableButton {
        background-color: #b7b7b7 !important;
    }

    ion-row .desc {
        color: darkblue;
    }

    ion-row.amtCol {
        margin-top: 0;
        margin-bottom: 20px;
    }

    ion-row.nameCol {
        font-size: 16px;
        ion-col.bDate,
        ion-col.amt {
            text-align: right;
        }
    }

    ion-row.nameCol > ion-col {
        color: #B22102;
        line-height: 40px;
    }

    ion-row .collectAmtVal button {
        float: right;
    }

    ion-row.collectAmtRow.scrollUp {
        opacity: 0;
        transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -webkit-transition: height 0.3s ease-in-out;
        transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        -webkit-transition: opacity 0.1s ease-in-out;
    }

    ion-row.collectAmtRow {
        opacity: 1;
        line-height:40px;
        font-size: 16px;
        border-top: 1px grey solid;
        visibility: visible;
        height: 40px;
        transition: height 0.3s ease-in-out;
        -moz-transition: height 0.3s ease-in-out;
        -webkit-transition: height 0.3s ease-in-out;
        transition: opacity 0.1s ease-in-out;
        -moz-transition: opacity 0.1s ease-in-out;
        -webkit-transition: opacity 0.1s ease-in-out;
    }

    ion-row .collectAmt,
    ion-row .collectAmtVal {
        color : #B20600;
    }
    
    &.emptyRecs .scroll-content {
        padding-right: 0 !important;
    }

    .scroll-content {
        padding-left : 0px !important;
        padding-right: 20px !important;
        overflow-y: auto;
    }
}

ion-footer {
    ion-toolbar {
        .toolbar-background-md {
            background : #2f3a66;
        }
        height : 76px;

        .amtSelected {
            font-size: 18px;
        }
    }
}

ion-header {
    .agentInfo {
        ion-icon {
            margin-left: 20px;
        }
        span {
            margin-left: 10px;
        }
    }
}

ion-toolbar.flexedDisplay {
    display: flex;
    border-top: 1px #1e2950 solid;

    * {
        flex: 1;
    }

    // div.toolbar-content.toolbar-content-md {
    //     flex-basis: 40vw;
    //     padding-left: 20px;
    // }

    div.navInpContainer {
        display: flex;
    }s

    div.navInpContainer > *{
        flex: 1;
    }

    div.navInpContainer > button {
        margin-top: 5px;
        margin-left: 8px;
    }

    div.navInpContainer > .inputDiv {
        flex-basis: 30vw;
        //padding-right: 10px;
    }

    ion-buttons.selectAll {
    }

    ion-buttons.selectAll > button {
        padding: 6px;
    }

    ion-input {
        background: #fff;
        border-radius: 5px;
    }
}