<!--
  Generated template for the ColDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons left [hidden]='!showOwnInfo'>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons left [hidden]='showOwnInfo'>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{showOwnInfo ? 'My Balances' : 'Collections List'}}</ion-title>
        
        <ion-buttons right class='agentInfo'>
            <button ion-button clear class='name'>
                <ion-icon name="person"></ion-icon>
                <span>{{payerName}}</span>
            </button>
            <button ion-button clear class='cash'>
                <ion-icon name="cash"></ion-icon>
                <span>{{colDetails.balance ? (colDetails.balance | currency : 'INR').substr(1) : ''}}</span>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar class='flexedDisplay' [hidden]='showOwnInfo'>
        <ion-buttons left class='selectAll'>
            <button ion-button clear icon-only (click)='selectedAmt != colDetails.balance ? selectViaFifo(colDetails.balance) : clearSelection()'>
                <ion-icon [name]="selectedAmt != colDetails.balance ? 'checkbox' : 'checkbox-outline'"></ion-icon>
                {{selectedAmt != colDetails.balance ? 'Select All' : 'Clear'}}
            </button>
        </ion-buttons>
        <div class='navInpContainer'>
            <div class='inputDiv'>
                <ion-input right class='navbarInput' type='number' placeholder='Enter Auto-select Amount' (keyup.enter) = 'selectViaFifo()' [(ngModel)]='fifoAmt'></ion-input>
            </div>
            <button ion-button icon-only round clear color='light' (click) = 'selectViaFifo()'>
                <ion-icon name='checkmark-circle-outline'></ion-icon>
            </button>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content class="colDetails" [class.emptyRecs]='!detailsCount'>
    <ion-refresher (ionRefresh)="fetchColAmts(REFRESH, 1, $event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-list [hidden]="detailsCount === 0" [virtualScroll]="bDetails" [approxItemHeight]="'300px'">
        <button ion-item *virtualItem="let colItem; let k = index" class='colDetailsItem' [class.selectedCol] = "selectedList.cAmts[colItem.bid]" (click)="toggleItem(k)" > -->
    
    <ion-list [hidden]="detailsCount === 0">
        <button ion-item *ngFor="let colItem of bDetails; let k = index" class='colDetailsItem' [class.selectedCol] = "selectedList.cAmts[colItem.bid]" (click)="showOwnInfo ? return : toggleItem(k)" >
            <ion-grid class="colDetailsItem" item-content>
                <ion-row class='nameCol'>
                    <ion-col class='name'>{{colItem.bid}}</ion-col>
                    <ion-col class='amt'>
                        {{colItem["amt"] | currency : "INR"}}
                    </ion-col>
                    <ion-col class='bDate'>
                        {{colItem['Date and Time'].$date.$numberLong | date}}
                    </ion-col>
                </ion-row>
                <ion-row class='fapCol' align-self-end>
                    <ion-col class='desc'>
                        Fare Agreed
                    </ion-col>
                    <ion-col>
                        {{colItem["Fare Agreed By Patient"] | currency : "INR"}}
                    </ion-col>
                    <ion-col class='desc'>
                        Cost To Owner
                    </ion-col>
                    <ion-col>
                        {{colItem["Cost To Owner"] | currency : "INR"}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class='desc'>
                        Pickup
                    </ion-col>
                    <ion-col col-9>
                        {{colItem["Pickup Location Address"].substr(0,50)}} {{colItem['Pickup Location Address'].length > 30 ? '...' : ''}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class='desc'>
                        Destination
                    </ion-col>
                    <ion-col col-9>
                        {{colItem["Destination"].substr(0,50)}} {{colItem['Destination'].length > 30 ? '...' : ''}}
                    </ion-col>
                </ion-row>
                <ion-row class='collectAmtRow' [hidden]='showOwnInfo' [class.scrollUp]='!selectedList.cAmts[colItem.bid]'>
                    <ion-col class='desc collectAmt'>
                        Amount To Collect
                    </ion-col>
                    <ion-col class='collectAmtVal'>
                        <span>{{selectedList.cAmts[colItem.bid] | currency : "INR"}}</span>
                        <button ion-button small (click)='(selectedList.cAmts[colItem.bid]?changeAmtCollect(colItem, $event): return)'>
                            &#9998;
                        </button>
                    </ion-col>
                    <!-- <ion-col hidden>
                        <ion-input placeholder="Amount to Collect" [(ngModel)]='selectedList.cAmts[colItem.bid]'></ion-input>
                    </ion-col> -->
                </ion-row>
            </ion-grid>
        </button>
    </ion-list>
    
    <ion-list-header [hidden]="detailsCount > 0">
        {{hasLoggedIn ? 'No Data Found. Please try refreshing or try changing filters.' : 'User Not Logged In. Try again after loggin in'}}
    </ion-list-header>

    <ion-infinite-scroll (ionInfinite)="fetchColAmts(PAGE, curPage + 1, $event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-footer [hidden]='showOwnInfo'>
    <ion-toolbar>
        <button ion-button color='secondary' [hidden]='!selectedAmt' large class='amtSelected'>
            <ion-icon class='cash'></ion-icon>
            <span>Rs. {{(selectedAmt | currency : 'INR').substr(1)}}</span>
        </button>
        <ion-fab bottom right #colDetailsFab>
            <button ion-fab color='lOrange'>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
            </button>
            <!-- <ion-fab-list side="top">
                <button ion-fab color="twitter" (click)="colDetailsFab.close();scrollToTop()">
                        <ion-icon name="arrow-dropup"></ion-icon>
                    </button>
            </ion-fab-list> -->

            <ion-fab-list side="left">
                <button ion-fab color="danger" (click)="clearSelection()">
                    <ion-icon name="close-circle"></ion-icon>
                </button>
                <button ion-fab color="{{selectedAmt > 0 ? 'secondary' : 'disableButton'}}" (click)="submitAmts()">
                    <ion-icon name="done-all"></ion-icon>
                </button>
            </ion-fab-list>
        </ion-fab>
    </ion-toolbar>
</ion-footer>