<ion-content scroll="false">
    <div class="splash-bg"></div>
    <div class="splash-info">
        <div class="splash-logo"></div>
        <div class="splash-intro">
        </div>
    </div>
    <div padding>
        <button ion-button block (click)="signup()">SIGNUP</button>
        <button ion-button block (click)="login()" class="login">LOGIN</button>
    </div>
</ion-content>