.colView {
    button .buttonSpan {
        color: #2a2a2a;
        position: relative;
        top: -10px
    }
    
    .back_image {
        padding: 30px;
    }

    #transAmt {
        margin-top: 5px;
        color: red;
        font-weight: bold;
        display: block;
        font-size: 18px;
    }
}

ion-header {
    .colMode {
        position: absolute;
        top: -10px;
        left: 30vw;
        padding: 10px;
        border: 1px color($colors, secondary) solid;
        background: color($colors, lRedBtn);

        .mode {
            font-weight: normal;
        }
    }
}