<!--
  Generated template for the ColViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons left [hidden]='colReceive'>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons left [hidden]='!colReceive'>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>
            Collection {{!colReceive ? 'Approval' : 'View'}}
            <span class='colMode'>
                <span class='mode'>Mode</span>
                <span class='modeTxt'>{{!otpSwitch ? 'QR Code' : 'OTP'}}</span>
            </span>
        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="toggleOtp()">
                <ion-icon name="swap"></ion-icon>
                Switch to {{otpSwitch ? 'QR Code' : 'OTP'}}
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class='colView'>
    <ion-grid>
        <ion-row [hidden]="colReceive">
            <ion-col>
                <button ion-button block color="lRedBtn" (click)="validateCol()" [class.disableButton]="scanProg || scannedRec" class="payCash">
                    <img class='buttonBacks' src='assets/img/common/payIcon.png'/>
                </button>
            </ion-col>
            <ion-col class='nxtStep' [class.actStep]="(!scanProg && scannedRec)">
                <button ion-button block color="lGreenBtn" (click)="confirmTransfer()">
                    <div>
                        <div><img class='buttonBacks' src='assets/img/common/scanSuccess.png'/></div>
                        <div class='buttonSpan'>Click here to confirm transfer of 
                            <span id='transAmt'>{{amount | currency : "INR"}}</span>
                        </div>
                    </div>
                </button>
            </ion-col>
        </ion-row>

        <ion-row [hidden]="!colReceive">
            <ion-col>                
                <button [hidden]="(loading || !showQR) && isAgent" ion-button block color="primary" (click)="confirmCol()">
                    Click to confirm a transfer of {{amount | currency : "INR"}}
                </button>
                <div [hidden]="!loading" (click)="showLoadingToast()" class='back_image loadingImg'></div>
                <div id='qrImg' [hidden]="loading || !showQR || otpSwitch">
                    <div #qrImage (click)="showQRMsg()" [style.backgroundImage]="'url(' + qrLink + ')'" class='back_image'></div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <form #otpDetForm='ngForm'>
        <ion-grid class='transTable' [hidden]="((loading || !showQR) && (!scanProg || scannedRec)) || !otpSwitch">
            <ion-row>
                <ion-col class='imp'>{{!colReceive ? 'Enter' : ''}} OTP Details</ion-col>
            </ion-row>
            <ion-row [hidden]='!colReceive'>
                <ion-col>Collection Agent</ion-col>
                <ion-col>
                    {{qrLinkParams.receiver}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Payer</ion-col>
                <ion-col>{{colReceive ? qrLinkParams.payer : loginID}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Amount</ion-col>
                <ion-col [hidden]='colReceive'>
                    <ion-item>
                        <ion-input type="number" required (input)='scanProg=true;scannedRec=false' min='1' [(ngModel)]="otpDetails.amount" name="amount"></ion-input> 
                    </ion-item>
                </ion-col>
                <ion-col class='imp' [hidden]='!colReceive'>{{qrLinkParams.amount | currency : 'INR'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>OTP</ion-col>
                <ion-col [hidden]='colReceive'>
                    <ion-item>
                        <ion-input type="number" required (input)='scanProg=true;scannedRec=false' min='100000' max='999999' [(ngModel)]="otpDetails.otp" name="otp"></ion-input> 
                    </ion-item>
                </ion-col>
                <ion-col class='imp' [hidden]='!colReceive'>{{qrLinkParams.otp}}</ion-col>
            </ion-row>
            <ion-row [hidden]='!colReceive'>
                <ion-col>Valid For</ion-col>
                <ion-col>{{qrLinkParams.tOut | date : 'mm:ss' : '+0000'}} Min</ion-col>
            </ion-row>
            <ion-row [hidden]='colReceive'>
                <ion-col>
                    <button (click)='confirmOtpData(otpDetForm)' ion-button type="submit">Confirm Data</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

    <ion-grid class='transTable' [hidden]="!scannedRec">
        <ion-row class='imp'>
            <ion-col>Transaction Details</ion-col>
        </ion-row>
        <ion-row [hidden]='!scannedRec.receiver'>
            <ion-col>Receiver Name</ion-col>
            <ion-col>{{scannedRec.recName + " (" + scannedRec.receiver + ")"}}</ion-col>
        </ion-row>
        <ion-row class='imp'>
            <ion-col>Amount</ion-col>
            <ion-col>{{scannedRec.amount | currency : 'INR'}}</ion-col>
        </ion-row>
        <ion-row class='imp'>
            <ion-col>OTP</ion-col>
            <ion-col class='imp'>{{scannedRec.otp}}</ion-col>
        </ion-row>
        <ion-row [hidden]='!scannedRec.tOut'>
            <ion-col>Valid For</ion-col>
            <ion-col>{{scannedRec.tOut | date : 'mm:ss' : '+0000'}} Min</ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
