
.shiftHandover, .colView {
    .back_image {
        background-repeat: no-repeat;
        background-size: contain;
    }

    #qrImg {
        padding: 70px;
        background: black;
        width: 100%;
    }

    #qrImg > div {
        margin: auto;
        display: block;
        width: 100%;
        padding-top: 100%;
    }

    @media only screen and (max-height: 600px) {
        #qrImg > div {
            width: 50%;
            padding-top: 0;
            height: 70vh;
        }
    }

    .payCash {
        .buttonBacks {
            opacity: 0.8;
        }
    }

    .loadingImg {
        display: block;
        widows: 50%;
        height: 60vh;
        background-image: url('../assets/img/common/giphy.gif');
    }

    .buttonBacks {
        height: 15vh;
    }

    .button-block-md {
        height: 20vh;
    }

    .recCash .buttonBacks {
        opacity: 0.6;
    }

    .nxtStep {
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
    }

    .prevStep  {
        display: none;
    }

    .nxtStep {
        position: absolute;
        left: 2000px;
    }

    .nxtStep.actStep {
        left: 0;
        position: relative;
    }

    .confirmAmt {
        width: 100%;
        height: 6vh;
        flex: 0 0 10vw;

        .buttonBacks {
            height: 5vh;
        }        
    }
    
    .disableButton {
        background-color: #b7b7b7 !important;
    }

    ion-grid.transTable {
        margin-top: 50px;
        border-left: 1px lightgray solid;
        border-top: 1px lightgray solid;
        text-align: center;
        color: gray;
        font-weight: bold;
        
        ion-col {
            padding: 15px;
            border-right: 1px lightgray solid;
            border-bottom: 1px lightgray solid;
        }

        ion-row ion-col.imp {
            color: rgb(243, 96, 11);
        }
    }
}
