<!--
  Generated template for the ScanQrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Shift Handover
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-grid class='shiftHandover'>
        <ion-row [hidden]="receiveProgress">
            <ion-col>
                <button ion-button block color="lRedBtn" (click)="initiatePayment()" class="payCash">
                    <img class='buttonBacks' src='assets/img/common/payRecIcon.png'/>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>